@media screen and (min-width: 450px) {

  body {
    background-size: 55vmax;
    background-position:
      left -10vmax top -15vmax,
      right -10vmax bottom -15vmax;
  }

  .card {
    min-width: 420px;
    min-height: 400px;
  }

  .card-top {
    flex: 1
  }

  .card-middle {
    flex: 1;
  }

  .card-bottom {
    flex: 1;
  }
}