$color-cyan: hsl(185, 75%, 39%);
$color-grey-blue: hsl(227, 10%, 46%);
$color-grey-blue-dark: hsl(229, 23%, 23%);
$color-dark-grey: hsl(0, 0%, 59%);

$font-size-small: 0.7em;
$font-size-default: 1em;
$font-size-large: 1.3em;

$font-family-default: 'Kumbh Sans', sans-serif;

$font-weight-default: 400;
$font-weight-bold: 700;

$border-radius-default: 1rem;